@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');


.svg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    filter: brightness(80%);
}

.header-image {
    width: 100%;
    height: 125px;
}

.header-bar {
    /* outline: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    top: -75px;
    transition-property: top;
    transition-duration: 0.2s;
    /* border-bottom: 1px solid rgb(240, 240, 240); */
    /* border-bottom: 20px solid transparent;
    border-image: url('../images/bg.jpg') 20% round; */
}

.sticky-bar {
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.681), rgba(0, 0, 0, 0));
    position: fixed;
    top: 0;
}

.header-left {

    display: flex;
    justify-content: center;
    min-width: 510px;
    gap: 25px;
}

.header-right {
    display: flex;
    padding-right: 5%;
}


.logo {
    z-index: 1;
    font-family: Circular-medium;

    font-size: 27px;
    font-weight: bolder;

    background: url('../images/letter-bg4.gif') 0 0 / cover no-repeat;
    color: #de466c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: saturate(200%);
}

.header-search {
    z-index: 1;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    width: 190px;
    padding-left: 12px;

    border-radius: 15px;
    background-color: rgb(245, 245, 245);
}

.header-icon-img {
    width: 20px;
    height: auto;
}

.header-icon-search {
    display: flex;
}

.header-input {
    width: 100px;
    height: 15px;
    font-size: 17px;
    outline: none;
    border: none;
    background-color: rgb(245, 245, 245);
}

.header-user-menu {
    /* outline: 1px solid red; */
    color: rgb(245, 245, 245);
    background-color: rgba(31, 31, 31, 0.285);
    position: relative;
    width: 140px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.header-user-menu:hover {
    color: white;
    background-color: rgb(77, 77, 77);
}

.header-user-menu-s {
    color: white;
    background-color: rgb(77, 77, 77);
}

.expanded {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.header-user-opt {
    /* outline: 1px solid red; */
    background-color: rgb(77, 77, 77);
    position: absolute;
    width: calc(100% - 17px);
    padding-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.notvisible {
    visibility: hidden;
}

.header-user {
    /* outline: 1px solid green; */
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
}

.h-user-logo {
    background-color: rgb(245, 235, 127);
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-left: 10px;
}

.h-user-name {
    font-size: 16px;
}



/*-------------------------------------------------------*/

.main-content {
    /* background-image: url('../images/bg.jpg'); */
    /* background-color: rgb(242, 242, 242); */
    padding-top: 75px;
    height: 100%;
    display: flex;
    /* outline: 4px solid green;
    outline-offset: -4px; */
}

.main-left {
    /* outline: 1px solid gold; */
    min-width: 510px;
    display: flex;
    justify-content: center;
}

.profile-panel {

    background-color: rgba(255, 255, 255, 0.823);
    width: 400px;
    height: 600px;
    border-radius: 5px;
    display: flex;

}

.sticky-panel {
    position: fixed;
    top: 155px;
}

.main-right {
    /* outline: 1px solid blue; */
    padding-right: 3%;
}


.img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
  
.figure {
    /* outline: 10px solid white;
    outline-offset: -10px;
    border-bottom: 60px solid white; */
    margin: 0;

    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;

    border-radius: 5px;
}
  
  
.container {
    column-count: 2;
    column-gap: 10px;
}

.container-stickymode {
    z-index: -1;
    position: relative;
    top: 75px;
}
