
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@font-face {
  font-family: Circular;
  src: url(./fonts/CircularStd-Book.otf) format("opentype");
}

@font-face {
  font-family: Circular-light;
  src: url(./fonts/CircularStd-Light.otf) format('opentype');
}

@font-face {
  font-family: Circular-medium;
  src: url(./fonts/CircularStd-Medium.otf) format('opentype');
}

html {
  width: 100%;
  height: 100%;
  background-size:contain;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{ 
  touch-action: none; 
}

.p {
  cursor: pointer;
}

.background {
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
  /* transform: scale(1.2); */
  /* background: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */
  /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */

  /* background-image: linear-gradient(to top, #fbc2eb 100%, #a18cd1 0%); */
  /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */

  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  /* background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); */
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
  background-image: linear-gradient(to top, #6aede6 0%, #fb90b2 100%);

  /* background-image: linear-gradient(to top, #fae1d6 0%, #9bdefd 100%); */

  /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); */
  /* background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); */

  filter: saturate(1.5);

}

.invisible {
  visibility: hidden;
}

.displaynone {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linknostyle {
  color: inherit;
  text-decoration: none;
}

.logo {
  align-self: flex-start;
  z-index: 1;
  font-family: 'Patua One', cursive;
  text-shadow: -3px -3px 0px rgb(255, 255, 255);
  font-size: 29px;
  font-weight: bolder;
  letter-spacing: 1px;
  padding-left: 3px;

  position: relative;
  top: 2px;

  background: url('./images/fondo-letra.gif') 0 0 / cover no-repeat;
  color: #de466c;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: saturate(130%);
  -webkit-user-select:none;
  user-select: none;
}

.post-logo {
  margin-bottom: 10px;
}

.ShowPostOut {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom-logo-off {
  color: transparent;
  font-size: 0px;
  opacity: 0%;  
  max-height: 0px;
  max-width: 0px;
  z-index: -10;
  position: fixed;
  transition: opacity 0.45s;
  transition-delay: 0.5s;
  top: 95%;
  right: 4.5%;
  left: auto;
  -webkit-user-select:none;
  user-select: none;
}

.bottom-logo-on {
  display: none;
}


@media (max-width: 1600px) {
  .logo {

    text-shadow: -2px -2px 0px rgb(255, 255, 255);
    font-size: 24px;
    letter-spacing: 1px;
    padding-left: 2px;
    top: 2px;
  }
  
  .post-logo {
    margin-bottom: 8px;
  }
}

@media (max-width: 1366px) {
  .logo {

    text-shadow: -2px -2px 0px rgb(255, 255, 255);
    font-size: 21px;
    letter-spacing: 1px;
    padding-left: 2px;
    top: 1px;
  }
  
  .post-logo {
    margin-bottom: 7px;
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  .post-logo {
    margin-left: 0%;
  }

}

@media (max-width: 490px) and (orientation: portrait) {

  .logo {
    text-shadow: -2px -2px 0px rgb(255, 255, 255);
  }

  .post-logo {
    margin-left: 0%;
  }

  .bottom-logo-on {
    display: block;
    opacity: 100%;  
    height: 30px;
    z-index: 0;
    position:fixed;
    transition: opacity 0.2s;
    transition-delay: 0.3s;
    /* top: 95%; */
    right: 4.5%;
    left: auto;
    -webkit-user-select:none;
    user-select: none;
  }

  .hide-logo {
    display: none;
  }

  /* html {
    width: 100%;
    height: auto;
    background-size:cover; 
    overflow: hidden;
  }

  body {
    outline: 3px solid red;
    outline-offset: -3px;
    height: 100dvh;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  } */

}


