@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@font-face {
  font-family: Circular;
  src: url(./fonts/CircularStd-Book.otf) format('opentype');
}

@font-face {
  font-family: Circular-light;
  src: url(./fonts/CircularStd-Light.otf) format('opentype');
}

@font-face {
  font-family: Circular-medium;
  src: url(./fonts/CircularStd-Medium.otf) format('opentype');
}

html {
  width: 100%;
  height: 100%;
  background-size: contain;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
}

.loading::after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-image: url('./icons/svg-loaders/rings.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 71px;
}

input {
  touch-action: none;
}

.p {
  cursor: pointer;
}

.App::before {
  content: '';

  position: fixed;
  z-index: -100;

  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
  background-image: linear-gradient(to top, #6aede6 0%, #fb90b2 100%);

  filter: saturate(1.5);
}

.invisible {
  visibility: hidden;
}

.displaynone {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linknostyle {
  text-decoration: none;
  color: inherit;
}

.logo {
  align-self: flex-start;

  position: relative;
  top: 2px;
  z-index: 1;

  padding-left: 3px;
  background-clip: text;
  background: url('./images/fondo-letra.gif') 0 0 / cover no-repeat;

  font-family: 'Patua One', cursive;
  font-size: 29px;
  font-weight: bolder;
  text-shadow: -3px -3px 0px rgb(255, 255, 255);
  color: #de466c;

  filter: saturate(130%);

  letter-spacing: 1px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.post-logo {
  margin-bottom: 10px;
}

.ShowPostOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0px;

  width: 100%;
  height: 100%;
}

.bottom-logo-off {
  position: fixed;
  left: auto;
  right: 4.5%;
  top: 95%;
  z-index: -10;

  max-width: 0px;
  max-height: 0px;

  font-size: 0px;
  color: transparent;

  transition: opacity 0.45s;
  transition-delay: 0.5s;
  opacity: 0%;

  -webkit-user-select: none;
  user-select: none;
}

.bottom-logo-on {
  display: none;
}

@media (max-width: 1600px) {
  .logo {
    text-shadow: -2px -2px 0px rgb(255, 255, 255);
    font-size: 24px;
    letter-spacing: 1px;
    padding-left: 2px;
    top: 2px;
  }

  .post-logo {
    margin-bottom: 8px;
  }
}

@media (max-width: 1366px) {
  .logo {
    text-shadow: -2px -2px 0px rgb(255, 255, 255);
    font-size: 21px;
    letter-spacing: 1px;
    padding-left: 2px;
    top: 1px;
  }

  .post-logo {
    margin-bottom: 7px;
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  .post-logo {
    margin-left: 0%;
  }
}

@media (max-width: 490px) and (orientation: portrait) {
  .logo {
    text-shadow: -2px -2px 0px rgb(255, 255, 255);
  }

  .post-logo {
    margin-left: 0%;
  }

  .bottom-logo-on {
    display: block;
    opacity: 100%;
    height: 30px;
    z-index: 0;
    position: fixed;
    transition: opacity 0.2s;
    transition-delay: 0.3s;
    right: 4.5%;
    left: auto;
    -webkit-user-select: none;
    user-select: none;

    filter: drop-shadow(1px 1px 2px #000000b4);
  }

  .hide-logo {
    display: none;
  }
}
