
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

.fullscreenBackground {
    z-index: 10;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullscreenBackground::before {
    content: "";

    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%; 
    height: 250%;

    background-image: url('../images//trippy-back3.gif');
    /* background-image: url('https://i.pinimg.com/originals/e7/c7/d9/e7c7d9b828d2828d7a709dcca2e89c55.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/49/ac/ab/49acabdb9efbcf9fd7f3ba9a6a7a4cdd.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/83/52/39/8352391aecd2f7e11cf371a42c68dc48.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/1c/02/bd/1c02bd1eeb5e22be52ceb4f718bf8949.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/e1/34/9f/e1349ff7c2b112436f73a2e78a7f1338.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/31/f1/5a/31f15ab2e1a8a3e4e2cff7bbf80f5997.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/91/0b/ea/910beabad73f3fd871ec0fd93384812d.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/28/47/ea/2847ea1511ec9a6cae2ded4e1417d359.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/de/c7/7a/dec77af3e0bad3f8937f8144a60abcbc.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/03/86/75/03867548d25035d175d00b6a2084e27b.gif'); */
    background-size: 100% 100%;

    filter: blur(0.19rem);
    transform: scale(1.2);
}

.fullscreenBackground::after {
    content: "";

    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%; 
    height: 100%;

    background-color: rgba(0, 0, 0, 0.484);
    
    filter: brightness(20%);
}

.resizeHandler {
    width: 30%;
}

.videoFileResizeHandler {
    max-width: 50vw;
    max-height: 90vh;
}

.figure {
    margin: 0;
    margin-bottom: 0.75rem;

    break-inside: avoid;

    grid-template-rows: 1fr auto;
}



.post {
    display: flex;

    background-color: white;
    
    border-radius: 0.62rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    
    flex-direction: column;
    
    overflow: hidden;
    
    animation: fadeIn 0.7s ease-in-out;
    opacity: 100%;
}

.shadow { 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1.19rem 2.37rem, rgba(0, 0, 0, 0.22) 0px 0.94rem 0.75rem;
}

.user {
    display: flex;

    padding: 0.62rem 0;

    background-color: white;
    
    align-items: center;
    gap: 0.31rem;
}

.user-profile {
    display: flex;

    margin-left: 0.62rem;

    align-items: center;
}

.profile-image {
    width: 1.87rem;
    height: 1.87rem;

    border-radius: 0.94rem;

    object-fit: cover;
}

/** IMAGE POST*/

.img {
    display: block;

    width: 100%;
    max-width: 100%;
    height: auto;
}

/** TEXT POST */

.text-post {
    padding: 1.56rem;

    background-color: white;
    overflow-wrap: break-word;
}

.text-title {
    margin-bottom: 0.62rem;

    font-size: 1.44rem;
    font-weight: bold;
}

.text-content {
    font-size: 1.12rem;
    white-space: pre-line;
}

/** QUOTE POST */

.quote-post {
    display: flex;
    justify-content: center;

    padding: 1.87rem 3.12rem 0.62rem;

    background-color: white;
}

.left-comilla {
    width: 1.56rem;
    height: auto;

    filter: contrast(20%);
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
}

.quote {
    display: flex;
    width: max-content;
    max-width: 25rem;

    padding: 1.25rem 0;

    font-size: 1.44rem;
    font-style: italic;
    white-space: pre-line;
}

.right-side {
    display: flex;
}

.right-comilla {
    width: 1.56rem;
    height: auto;

    align-self: flex-end;

    transform: rotate(180deg);
    filter: contrast(20%);
}

.quote-detail {
    padding-left: 4.37rem;

    background-color: white;
}

/** VIDEO POST */

.video-post {
    display: flex;

}
  
.video-container {
    position: relative;

    height: 0;

    flex: 1;
    
    animation: fadeIn 0.8s ease-in-out;

    object-fit: contain;
}
  
.video-container iframe {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    transform: scale(100.3%);
}

video {
    width: 100%;
    height: auto;

    transform: scale(100.5%);
}

/** FOOTER */

.footer {
    display: flex;

    padding: 0.62rem;
    padding-top: 0px;

    background-color: rgb(255, 255, 255);

    font-family: Circular-light;
    font-size: 1.06rem;
    
    flex-direction: column;
    justify-content: space-between;

}

.post-title {
    display: inline;

    padding-top: 0.62rem;
    padding-left: 0.94rem;

    font-family: Circular-light;
    font-size: 1.06rem;
}

.footer-middle {
    min-height: 1.87rem;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
}

.footer-icons button {
    outline: none;
    border: none;
}

.footer-icons button:hover {
    background-color: transparent;
}

.footer-icons button:disabled {
    background-color: transparent;
}

/** BUTTONS */

.open {
    outline: none;
    background-color: transparent;
    width: 1.56rem;
    height: 1.56rem;

    margin-left: 0.62rem;

    border-radius: 0.94rem;

    background-image: url('../icons/abrir2.png');
    background-size: cover;
    
    cursor: pointer;
}

.open:hover {
    background-color: rgb(164, 164, 164);
}

/** SOCIAL ICONS */

.social-icons {
    margin-right: 0.75rem;
    margin-bottom: 0.31rem;

    align-self: flex-end;
    display: flex;
    gap: 0.94rem;
}

.icon {
    height: 1.25rem;
    width: 1.25rem;

    background-size: cover;
}

.notliked {
    background-image: url('../icons/like-off.png');
    background-size: cover;

    opacity: 10%;
}

.notliked:hover {
    background-image: url('../icons/like-on.png');
    background-size: cover;

    opacity: 50%;
}

.liked {
    background-image: url('../icons/like-on.png');
    background-size: cover;

    filter: opacity(50%);
}


.comment {
    background-image: url('../icons/comment-off.png');
    background-size: cover;

    opacity: 10%;
}

.comment:hover {
    background-image: url('../icons/comment-on.png');
    background-size: cover;

    opacity: 50%;
}


.share {
    background-image: url('../icons/share-off.png');
    background-size: cover;

    opacity: 10%;
}

.share:hover {
    background-image: url('../icons/share-on.png');
    background-size: cover;

    opacity: 50%;
}

.share::after {
    content: "Link copied!";
    position: relative;
    display: flex;
    top: -2.19rem;
    left: -1.56rem;

    width: 4.37rem;

    padding: 0.31rem 0.44rem;

    border-radius: 0.94rem;

    background-color: rgb(71, 71, 71);

    font-size: 0.81rem;
    font-weight: bold;
    color: white;
    
    visibility: hidden;
    
    align-items: center;
    justify-content: center;

    transition-property: content;
    transition-duration: 0.2s;
    transition-delay: 1s;
}

.share:active::after {
    visibility: visible;
}

.delete {
    background-image: url('../icons/delete-off.png');
    background-size: cover;

    opacity: 10%;
}

.delete:hover {
    background-image: url('../icons/delete-on.png');
    background-size: cover;

    opacity: 50%;
}


@media (max-width: 1650px) {

    html {
        font-size: 13px;
    }

}
  
@media (max-width: 1366px) {

    html {
        font-size: 11px;
    }

}
  
@media (max-width: 900px) and (orientation: portrait)  {
    .post {
        border-radius: 12px;
    }

    .mobile-post {
        border-radius: 12px;
        
    }

    .mobile-container {
        min-width: 96vw;
        margin-left: 2%;
        margin-right: 2%;
    }

    .fullscreenBackground::before {
        background-image:none;
        background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    }

}
  
@media (max-width: 500px) and (orientation: portrait) {
    .post {
        border-radius: 12px;
    }

    .mobile-post {
        border-radius: 12px;
    }

    .mobile-container {
        min-width: 96vw;
        margin-left: 2%;
        margin-right: 2%;
    }

    .mobile-image-container {
        max-width: 100vw;
        max-height: 100dvh;
        margin-left: 2%;
        margin-right: 2%;
    }

    .fullscreenBackground::before {
        background-image: none;
        background: linear-gradient(109.6deg, rgb(10, 13, 16) 11.2%, rgb(9, 21, 34) 51.2%, rgb(0, 0, 0) 98.6%);
    }

}