.userCard {
    position: sticky;
    display: flex;
    top: 5.94rem;

    width: 24.67rem;
    height:max-content;

    border-radius: 0.94rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    font-family: 'Inter', sans-serif;
    
    flex-direction: column;
    
    overflow: hidden;
}

/** TOP */

.top {
    position: relative;

    width: 100%;
    height: 20.62rem;
    
    background-size: cover;

    align-self: center;
}

.options {
    position: absolute;
    display: flex;
    top: 0px;

    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0));
}

.left-options {
    width: 10%;
}

.middle-options {
    width: 80%;
}

.right-options {
    width: 10%;
}

/** BOTTOM */

.bottom {
    position: relative;
    display: flex;

    background-color: rgba(255, 255, 255, 0.668);
    
    flex-direction: column;
}

.userBottom {
    height: 13.5rem;
}

.profile {
    position: absolute;
    display: flex;
    top: -3.12rem;
    left: 2.19rem;

    width: 6.25rem;
    height: 6.25rem;

    border: 0.25rem solid rgb(240, 240, 240);
    border-radius: 3.12rem;

    background-size: cover;
    background-color: #ffd1d1;
    
    flex-direction: column;
    align-items: center;
}

.username {
    position: relative;
    top: 6.86rem;

    font-size: 1.06rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.separator {
    position: relative;
    display: flex;
    left: 68%;

    width: 100%;
    height: 5.37rem;

    align-items: center;
}

.separator button {
    outline: none;
    border: none;
    font-family: Circular-light;
    font-size: 1rem;

    display: flex;

    width: 5.62rem;
    height: 2.31rem;

    margin-bottom: 1.25rem;

    border-radius: 0.97rem;

    font-weight: bold;
    color: white;
    
    align-items: center;
    justify-content: center;
    
}

.followed {
    background-color: rgb(0, 128, 32);
}

.notFollowed {
    background-color: rgb(40, 40, 40);
}

.notFollowed:hover {
    background-color: rgb(50, 50, 50);
}

.unfollow:hover::after {
    content: 'Unfollow';

    position: absolute;
    display: flex;

    width: 5.62rem;
    height: 2.31rem;

    border-radius: 0.97rem;

    background-color: rgb(251, 42, 42);
    
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;

    width: 100%;

    padding-top: 0.94rem;
    padding-bottom: 1.25rem;

    font-size: 1.25rem;

    justify-content: center;
    gap: 0.94rem;
}

.stat {
    display: flex;

    width: 6.25rem;
    
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.stat-title {
    font-weight: bolder;
    font-size: 1.25rem;
}

/** POST BOX */

.postbox {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.62rem;
}

.postbox button:hover{
    background-color: transparent;
}

.postbox button {
    outline: transparent;
    border: transparent;
    background-color: transparent;
}

.open {
    width: 2.81rem;
    height: 2.81rem;

    background-image: url('../images/post-button.png');
    background-size: cover;
}

.hide {
    width: 2.81rem;
    height: 2.81rem;

    background-image: url('../images/minus-button.png');
    background-size: cover;
}

.buttons {
    display: flex;
    
    width: 100%;
    height: 0px;

    padding-top: 0.94rem;
    padding-bottom: 0.94rem;

    border-radius: 100%/0px 0px 4.37rem 4.37rem;
    
    justify-content: center;
    gap: 0.94rem;

    transition: height 0.2s;
}

.buttons button {
    background-size: cover;

    border: none;
    
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.visible {
    transition: height 0.2s;

    height: 1.56rem;
}

.post-image {
    width: 1.56rem;

    background-image: url('../icons/imageButton.png');

    opacity: 0%;
}

.post-quote {
    width: 2.31rem;
    
    background-image: url('../icons/citaButton.png');

    opacity: 0%;
}

.post-text {
    width: 2.31rem;

    background-image: url('../icons/textButton.png');

    opacity: 0%;
}

.post-video {
    width: 1.56rem;

    background-image: url('../icons/videoButton.png');

    opacity: 0%;
}

.seeButton {
    transition: opacity 0.2s;
    transition-delay: 0.1s;

    opacity: 100%;
}

/** OTHER USER*/




@media (max-width: 1600px) {

    html {
        font-size: 13px;
    }

}

@media (max-width: 1366px) {

    html {
        font-size: 11px;
    }

}

@media (max-width: 900px) and (orientation: portrait) {
    
}

@media (max-width: 500px) and (orientation: portrait) {

    .profile {
        left: 0;
        right: 0;
        margin: auto;
    }

    .top {
        min-height: 90vw;
    }

    .options {
        outline-offset: -10px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0));
        width: 100%;
        height: calc(100% - 39px);
        display: flex;
        position: absolute;
        margin-top: 39px;
    }

    .bottom {
        min-height: calc(100vw/2.5);
    }

    .userCard {
        min-width: 100%;
        position: relative;
        top: 0px;
        border-radius: 0px;

        border: none;
        box-shadow: none;
    }

    .mobile-separator {
        position: relative;
        width: 100%;
        height: 500px;
        left: 0px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .mobile-separator button {
        position: absolute;
        bottom: -1.6rem;

    }

}